#backGroudAux{
    display: initial;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38rem
}
#render{
    padding: 0;
    overflow: hidden;
    align-content: center;
}
#renderImg{
    width: 100%;
}
@media (max-width: 75rem){
    #backGroudAux{
        display: none;
    }
}
