.masonryContainer {
    margin: 0 auto;
}
.grid-sizer, .grid-item {
    width: min-content;
    max-width: 95%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(10%);
}
.aparece{
    opacity: 1;
    transform: none;
}
.grid-item img {
    cursor: pointer;
    display: block;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
    image-rendering: pixelated;
}
.grid-item img:hover {
    transform: scale(1.05);
}
body{
    background-image: url("../img/background-MapArtGallery.jpg");
    background-position: top;
}
.inbox{
    min-width: 10px;
}
#backGroudAux{
    display: none;
}